@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --sky: #00d4d7;
  --yellow: #fed116;
  --purple: #a81e7e;
  --white: #f5f5f5;
  --grey: #f0f0f0;
  --blue: #004b4d;
  --fontCont: 'Libre Baskerville', serif;
  --fontTitle: 'Pacifico', cursive;
}

html {
  font-size: 16px;
  font-family: var(--fontCont);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.title {
  font-family: var(--fontTitle);
  font-weight: lighter;
  color: var(--purple);
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.subtitle {
  font-family: var(--fontTitle);
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
  color: var(--grey);
  margin: 0;
}

header {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.banner-top {
  padding: 0.3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sky);
  color: var(--white);
}

.address,
.timetable,
.info-shop {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.8em;
}

.banner {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1em;
  border-bottom: var(--sky) solid 2px;
}

.logo {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.logo-img {
  width: 100%;
}

.search {
  background-color: var(--grey);
  border-radius: 1em;
  padding: 0.5em;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input[type="search"] {
  border-radius: 1em;
  background-color: var(--grey);
  border: none;
  height: 5vh;
  width: 70%;
}

.search i {
  color: var(--purple);
  text-align: right;
}

.menu-options {
  width: 100%;
  padding: 1em;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: var(--sky) solid 2px;
  border-bottom: var(--sky) solid 2px;
}

.menu-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style-type: none;
}

.menu-box li {
  width: 20%;
  text-align: center;
}

.menu-box a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: block;
}

.menu-box a:hover {
  background-color: var(--yellow);
  width: 100%;
  height: 100%;
}

.selector {
  font-size: 1rem;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid 2px var(--sky);
  background-color: var(--grey);
  padding: .2rem;
  border-radius: .1rem;
}

.selector i {
  color: var(--purple);
  font-size: 2em;
}

#ckbox {
  display: none;
}

.cont {
  width: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
}

.about {
  background-image: url(../img/bg.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
  gap: 1em;
}

.gallery {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.scene {
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cube {
  transform-style: preserve-3d;
  position: relative;
  margin: 5em 0;
  width: 300px;
  height: 300px;
  animation: rotate 23s ease-in-out infinite;
  transform-origin: center center;
}

.side {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #333;
  opacity: .95;
  background-size: cover;
  background-repeat: no-repeat;
}

.back {
  transform: translateZ(-150px) rotateX(180deg);
  background-image: url(../img/cube5.png);
}

.left {
  transform: translateX(-150px) rotateY(90deg);
  background-image: url(../img/cube3.png);

}

.right {
  transform: translateX(150px) rotateY(90deg);
  background-image: url(../img/cube4.png);
}

.top {
  transform: translateY(-150px) rotateX(90deg);
  background-image: url(../img/cube2.png);
}

.bottom {
  transform: translateY(150px) rotateX(270deg);
  background-image: url(../img/cube1.png);
}

.front {
  transform: translateZ(150px);
  background-image: url(../img/logo.jpg);
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }

  12.5% {
    transform: rotateY(90deg);
  }

  25% {
    transform: rotateY(270deg);
  }

  37.5% {
    transform: rotateY(270deg);
  }

  50% {
    transform: rotateY(360deg);
  }

  62.5% {
    transform: rotateX(90deg);
  }

  75% {
    transform: rotateX(180deg);
  }

  87.5% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.info-about {
  padding: 1em;
  width: 80%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.0px);
  -webkit-backdrop-filter: blur(8.0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.categories-row {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  gap: 2em;
}

.category {
  width: 12em;
  height: 12em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 0px 8px 33px -9px rgba(0, 0, 0, 0.75);
}

.category:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#dog {
  background-color: var(--purple);
}

#cat {
  background-color: var(--yellow);
}

#accs {
  background-color: var(--sky);
}

#shower {
  background-color: #ff1493;
}

#health {
  background-color: #8dff2f;
}

.category a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0;
}

.category-img {
  width: 60%;
  padding: 0;
}

.new-novelties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.novelties {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.novelties-row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 50%;
  gap: 1em;
}

.novelty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  text-align: center;
  box-shadow: 0px -1px 10px -1px rgba(0, 0, 0, 0.75);
  padding: 1em;
  gap: 1em;
}

.info-novelty {
  width: 100%;
}

.title-novelty {
  color: var(--sky);
}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.rating input {
  display: none;
}

.rating label {
  color: grey;
  font-size: 1.5em;
}

.rating label:hover,
.rating label:hover~label {
  color: var(--yellow);
}

.rating input[type="radio"]:checked~label {
  color: var(--yellow);
}

.button {
  width: 80%;
}

.button a {
  color: var(--white);
  text-decoration: none;
}

.btn-grad {
  background-image: linear-gradient(to right, var(--purple) 0%, var(--sky) 51%, var(--purple) 100%);
  width: 100%;
  padding: 1em;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);
  border-radius: 10px;
  display: block;
  font-family: var(--fontCont);
  font-size: 1em;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: var(--white);
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1em;
}

.social-bar {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 1em;
}

.social-bar a {
  color: var(--yellow);
  font-size: 2em;
}

.social-bar a:hover {
  color: var(--purple);
  transform: scale(1.1);
  transition: 0.5s;
}

.copyright {
  text-align: center;
  color: var(--sky);
}

.logo-footer {
  width: 10%;
  margin-right: 1.5em;
}

/*----CATÃLOGO----*/

.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.catalog-row {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
  padding-bottom: 3em;
  border-bottom: var(--blue) 1px solid;
  margin-bottom: 2em;
}

.catalog-cont {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1em;
  width: 40%;
}

.catalog-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
  width: 50%;
  border-radius: 10px;
}

.catalog-category {
  font-size: 0.8em;
  width: 15%;
}

.dog {
  background-color: var(--purple);
}

.cat {
  background-color: var(--yellow);
}

.accessories {
  background-color: var(--sky);
}

.shower {
  background-color: #ff1493;
}

.health {
  background-color: #8dff2f;
}

.title-dog {
  color: var(--purple);
}

.title-cat {
  color: var(--yellow);
}

.title-accessories {
  color: var(--sky);
}

.title-shower {
  color: #ff1493;
}

.title-health {
  color: #8dff2f;
}

.cat .card-info,
.info-cat,
.accessories .card-info,
.health .card-info {
  color: var(--blue);
}

.card-info {
  text-align: center;
  color: var(--grey);
}

/*----VER DETALLES----*/

.to-return a {
  text-decoration: none;
  color: var(--white);
}
main {
  background-image: url(../img/bg.png);
  background-size: contain;
  margin-bottom: 2em;
}
.view {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 1em;
  padding: 1.5em;
}

.view-name {
  text-shadow: 4px -2px 3px rgba(254, 209, 22, 1);
}
.view-img {
  width: 40%;
}

.view-info {
  width: 45%;
  text-align: justify;
  padding: 1em;
}

.view-price {
  text-align: center;
  color: var(--purple);
  font-weight: 700;
  font-size: 1.5em;
}

/*----DELIVERY Y PAGO----*/

.pays {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pays p {
  width: 80%;
  margin-bottom: 5em;
  text-align: justify;
}

.payments-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.payments-row {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 1em;
}

.payments-cont {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 1em;
}

.pay {
  height: 10em;
  width: 10em;
  padding: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0px 8px 33px -9px rgba(0, 0, 0, 0.75);
}

#dollar,
#mercantil {
  background-color: var(--sky);
}

#paypal,
#pago-movil {
  background-color: var(--yellow);
}

#airtm {
  background-color: var(--purple);
}

#mony,
#zelle {
  background-color: #8dff2f;
}

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.delivery-table,
.delivery-table tr,
.delivery-table th,
.delivery-table td {
  border: solid var(--purple) 3px;
  border-collapse: collapse;
  padding: 1em;
  text-align: center;
}

.delivery-table th {
  background-color: var(--yellow);
}

.delivery-table td {
  background-color: var(--sky);
}

/*------TIPS----*/

.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5em;
  background-image: url(../img/bg.png);
  background-size: contain;
}

.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5em;
  width: 90%;
}

.tip-img {
  width: 30%;
}

.tip-img img {
  border-radius: 10px;
}

.tip-info {
  width: 70%;
  text-align: justify;
}

.tip-info ul {
  list-style-type: none;
}

/*------CONTACTO----*/

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg.png);
  background-size: contain;
  background-color: var(--grey);
  padding-bottom: 3em;
}

.info-empresa {
  list-style: none;
  padding: 0;
}

.item-empresa {
  margin-bottom: 2em;
  font-size: 1.3em;
}

.item-empresa i {
  margin-right: 1rem;
  font-size: 1.5em;
  color: var(--yellow);
}

.wrapper {
  box-shadow: 7px 9px 15px -3px rgba(0, 0, 0, 0.75);
  margin-top: 3em;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: rgba(168, 30, 127, 0.521);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper>* {
  padding: 1em;
}

.company-info {
  background: rgba(168, 30, 127, 0.521);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  border-radius: 10px 0 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
  height: 100%;
  border-top: 3px solid var(--yellow);
  border-left: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
}

.company-info h3,
.info-empresa {
  text-align: center;
}

.contact {
  background: rgba(0, 211, 215, 0.541);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  border-radius: 0px 10px 10px 0;
  border-top: 3px solid var(--yellow);
  border-right: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
  font-size: 1em;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border-radius: 20px;
  background: transparent;
  font-size: 1em;
  font-weight: 400;
  border: 2px solid var(--yellow);
  font-family: var(--fontCont);
}

.contact form input:hover,
.contact form textarea:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input:active,
form textarea:active {
  background: rgba(255, 255, 255, 0.418);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.full button {
  width: 100%;
  font-size: 1.5em;
}

.email {
  color: black;
}

@media (min-width:768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em;
  }

  .company-info {
    width: 100%;
  }

  .company-info h3,
  .company-info ul {
    text-align: left;
  }
}

@media (max-width:860px) {
  .banner {
    justify-content: space-around;
  }

  .menu-options {
    justify-content: flex-start;
  }

  .selector {
    display: block;
    position: fixed;
    z-index: 1;
  }

  .menu-box {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 40vh;
    left: -100%;
    text-align: left;
    transition: all .8s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    background-color: var(--sky);
    z-index: 1;
  }

  .menu-box li {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .menu-box li a {
    padding: 1em;
  }

  .menu-box li a:hover {
    background-color: var(--yellow);
    color: black;
  }

  #ckbox:checked~.menu-box {
    left: 0;
  }

  .info-about {
    width: 90%;
  }

  .novelties {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .novelties-row {
    width: 90%;
  }

  .novelty {
    height: 100vh;
  }

  .img-novelty img {
    max-height: 30vh;
  }

  .full {
    width: 90%;
  }

  .tip {
    flex-direction: column;
  }

  .tip-img {
    width: 80%;
  }

  .payments-row {
    flex-direction: column;
  }

  .catalog-row {
    flex-direction: column;
  }

  .catalog-cont {
    width: 80%;
  }

  .catalog-card {
    height: 100%;
  }

  .view {
    flex-direction: column;
  }
  .view-img, .view-info {
    width: 80%;
  }
}

@media (max-width:650px) {
  .info-about {
    width: 100%;
  }

  .categories-row {
    flex-direction: column;
  }

  .novelties-row {
    flex-direction: column;
  }

  .novelty {
    width: 80%;
    height: 100vh;
  }

  .catalog-cont {
    flex-direction: column;
    width: 80%;
  }

  .catalog-card {
    height: 90%;
    width: 100%;
  }

  .tip-img {
    width: 80%;
  }
}

@media (max-width:450px) {
  .banner-top {
    flex-direction: column;
  }

  .info-shop {
    flex-direction: column;
    gap: 0.1em;
  }

  .search {
    width: 60%;
  }

  .menu-box {
    top: 45vh;
    width: 60%;
  }

  .novelty {
    width: 100%;
    height: 100vh;
  }

  .company-info {
    width: 100%;
    font-size: 0.8em;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo-footer {
    width: 30%;
  }
}